<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= link_to "Back",  campaign_discussion_topic_url(@campaign,@discussion_topic) , class:"btn btn-secondary me-md-2 btn-sm"%>
</div>

<center><h1><u>Edit DiscussionTopic<u></h1></center>

<%= render 'form' %>