

<div class="card" >
    <h5 class="card-header text-dark"><%=@tag.name%></h5>
</div>

<%= link_to ' Edit ' , edit_tag_path(@tag) , class:"btn btn-primary btn-sm" %>
<%= link_to ' Delete ' , tag_path(@tag) , method: :delete , data:{confirm:"are you sure?"} , class:"btn btn-danger btn-sm "%> 

